<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <style>
        h1{
            font-size:50px;
            font-family: Roboto;
            color: #ff00ff;
            text-align:center;
        }
        h2{
            
            font-size:25px;
            font-family: sandybrown;
            color: #ff0000;
            text-align:center;
        }
        #banner{
            height:100%;
            width:100%;;
        }
        .button{
           text-align:center
        }
    </style>
</head>
<body>
    <h1>solozen</h1>
    <img id="banner" src="static/eagle.jpg" alt="eagle" width=100vh>
    <h2>eagle</h2>
    <p>lorem Eagle is the common name for the golden eagle, bald eagle, and other birds of prey in the family of the Accipitridae. Eagles belong to several groups of genera, some of which are closely related. True eagles comprise the genus Aquila. Most of the 68 species of eagles are from Eurasia and Africa.[1] Outside this area, just 14 species can be found—two in North America, nine in Central and South America, and three in Australia.
        <br>
        <br>
        Eagles are large, powerfully built birds of prey, with heavy heads
        <br>
        <br>

        Eagles are not a natural group but denote essentially any kind of bird of prey large enough to hunt sizeable (about 50 cm long or more overall) vertebrates.

    </p>
    <div class="button"> 
    <button>contact us</button>
    </div>
</body>
</html>
